html
    head
        title='Checkout'
        link(rel='stylesheet' href='/assets/app.css')
        link(rel='icon' href='/assets/favicon.ico')
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
    body
        #app
        script(src='/assets/app.js')
