html
    head
        title= title
        link(rel='stylesheet' href= styleModule)
        link(rel='icon' href='/assets/favicon.ico')
    body(data-pageid= identity)&attributes(documentData)
        #app
        script(src= jsModule)