{
    "presets": [
        "es2015",
        "stage-0",
        "react"
    ],
    "plugins": [
        "remove-comments",
        "transform-object-assign",
        "transform-runtime",
        "transform-decorators-legacy"
    ]
}
