@import 'src/styles/config/palette';
@import 'src/styles/config/spacing';
@import 'src/styles/config/zShadow';

.WhiteBar {
    display: block;
    position: fixed;
    width: 100%;
    height: $WHITEBAR_HEIGHT;
    background-color: $fullWhite;
    border-bottom: 1px solid $grey300;
    z-index: 2500;
    top: 0;
    left: 0;

    .presenter {
        display: flex;
        position: relative;
        flex: 1;
        height: $WHITEBAR_HEIGHT;
        line-height: $WHITEBAR_HEIGHT;
    }
    .pushLeft {
        @extend .presenter;
    }
    .pushRight {
        @extend .presenter;
        justify-content: flex-end;
    }
    .pushLeft, .pushRight {
        &.fit {
            flex: 0;
        }
    }
}
